<?xml version='1.1' encoding='UTF-8'?>
<org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject plugin="workflow-multibranch@2.21">
    <actions/>
    <description></description>
    <displayName>{{ jenkins_multibranch_job_name }}</displayName>
    <properties>
        <org.jenkinsci.plugins.pipeline.modeldefinition.config.FolderConfig plugin="pipeline-model-definition@1.5.0">
            <dockerLabel></dockerLabel>
            <registry plugin="docker-commons@1.16"/>
        </org.jenkinsci.plugins.pipeline.modeldefinition.config.FolderConfig>
    </properties>
    <folderViews class="jenkins.branch.MultiBranchProjectViewHolder" plugin="branch-api@2.5.5">
        <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
    </folderViews>
    <healthMetrics>
        <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric plugin="cloudbees-folder@6.11">
            <nonRecursive>false</nonRecursive>
        </com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
    </healthMetrics>
    <icon class="jenkins.branch.MetadataActionFolderIcon" plugin="branch-api@2.5.5">
        <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
    </icon>
    <orphanedItemStrategy class="com.cloudbees.hudson.plugins.folder.computed.DefaultOrphanedItemStrategy" plugin="cloudbees-folder@6.11">
        <pruneDeadBranches>true</pruneDeadBranches>
        <daysToKeep>-1</daysToKeep>
        <numToKeep>-1</numToKeep>
    </orphanedItemStrategy>
    <triggers/>
    <disabled>false</disabled>
    <sources class="jenkins.branch.MultiBranchProject$BranchSourceList" plugin="branch-api@2.5.5">
        <data>
            <jenkins.branch.BranchSource>
                <source class="org.jenkinsci.plugins.github_branch_source.GitHubSCMSource" plugin="github-branch-source@1701.v00cc8184df93">
                    <id>0f116140-3d05-479a-a133-c0174719202f</id>
                    <apiUri>https://api.github.com</apiUri>
                    <repository>springboot-api-rest-example</repository>
                    <repositoryUrl>{{ multibranch_repository_url }}</repositoryUrl>
                    <traits>
                        <org.jenkinsci.plugins.github__branch__source.BranchDiscoveryTrait>
                            <strategyId>3</strategyId>
                        </org.jenkinsci.plugins.github__branch__source.BranchDiscoveryTrait>
                        <org.jenkinsci.plugins.github__branch__source.ForkPullRequestDiscoveryTrait>
                            <strategyId>3</strategyId>
                            <trust class="org.jenkinsci.plugins.github_branch_source.ForkPullRequestDiscoveryTrait$TrustEveryone"/>
                        </org.jenkinsci.plugins.github__branch__source.ForkPullRequestDiscoveryTrait>
                        <org.jenkinsci.plugins.github__branch__source.OriginPullRequestDiscoveryTrait>
                            <strategyId>1</strategyId>
                        </org.jenkinsci.plugins.github__branch__source.OriginPullRequestDiscoveryTrait>
                    </traits>
                </source>
                <strategy class="jenkins.branch.DefaultBranchPropertyStrategy">
                    <properties class="empty-list"/>
                </strategy>
            </jenkins.branch.BranchSource>
        </data>
        <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
    </sources>
    <factory class="org.jenkinsci.plugins.workflow.multibranch.WorkflowBranchProjectFactory">
        <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
        <scriptPath>jenkins/Jenkinsfile</scriptPath>
    </factory>
</org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject>